<div class="form-group story-controls">
  <% if(!isReadonly) { %>
    <input type="button" class="submit" value="<%= I18n.t('save') %>">
    <% if (!isNew) { %>
      <input type="button" class="destroy" value="<%= I18n.t('delete') %>">
    <% } %>
  <% } %>
  <input type="button" class="cancel" value="<%= I18n.t('cancel') %>">
</div>

<% if (story.id != undefined) { %>
  <div class="form-group input-group input-group-sm">
    <input id="story-link-<%= story.id %>" type="text" class="form-control input-sm"
           value="<%= url %>"
           readonly>

    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-clipboard"
              data-clipboard-target="#story-link-<%= story.id %>">
        <img src="/clippy.svg" alt="Copy to clipboard" width="14px">
      </button>
      <button type="button" class="btn btn-default toggle-history">
        <i class="mi md-18 icon-xs">history</i>
      </button>
    </span>
  </div>
<% } %>

<div class="form-group">
  <input type="text" name="title" maxlength="255"
         class="story_title form-control input-sm"
         placeholder="<%= I18n.t('story title') %>"
         value="<%= story.get('title') %>"
         <%= disabled %>>
</div>

<div class="form-group form-inline">
  <div class="form-group">
    <label for="estimate"><%= story.humanAttributeName('estimate') %></label><br/>
    <select name="estimate" class="form-control input-sm story_estimate" <%= disabled %> <%= notEstimable %>>
      <option value=""><%= I18n.t('story.no_estimate') %></option>
      <% _.each(story.point_values(), function(value) { %>
        <option value="<%= value %>"
                <% if(value == story.get('estimate')) { %> selected <% } %>>
          <%= value %>
        </option>
      <% }) %>
    </select>
  </div>

  <div class="form-group">
    <label for="story_type"><%= story.humanAttributeName('story_type') %></label><br/>
    <select name="story_type" class="form-control input-sm story_type" <%= disabled %>>
      <% _.each(["feature", "chore", "bug", "release"], function(option) { %>
        <option value="<%= option %>" <% if (option == story.get('story_type')) { %> selected <% } %>>
          <%= I18n.t('story.type.' + option) %>
        </option>
      <% }) %>
    </select>
  </div>

  <div class="form-group">
    <label for="state"><%= story.humanAttributeName('state') %></label><br/>
    <select name="state" class="form-control input-sm story_state" <%= disabled %>>
      <% _.each(["unscheduled", "unstarted", "started", "finished", "delivered", "accepted", "rejected"], function(option) { %>
        <option value="<%= option %>" <% if(option == story.get('state')) { %> selected <% } %>>
          <%= I18n.t('story.state.' + option) %>
        </option>
      <% }) %>
    </select>
  </div>
</div>

<div class="form-group form-inline">
  <% _.each(relationships.attributes, function(attr){ %>
    <div class="form-group">
      <label for="<%= attr %>"><%= story.humanAttributeName(attr) %></label><br/>
      <select name="<%= attr %>" <%= disabled %>
              class="form-control input-sm story_<%= attr %>">
        <option value="">---</option>
        <% _.each(relationships.options, function(option){ %>
          <option <% if (option[1] == story.get(attr)) { %> selected <% } %>
                  value="<%= option[1] %>">
            <%= option[0] %>
          </option>
        <% });%>
      </select>
    </div>
  <% }) %>
</div>

<div class="form-group">
  <label for="labels"><%= story.humanAttributeName('labels') %></label><br />
  <input type="text" name="labels"
         <%= disabled %>
         class="form-control story_labels">
</div>

<div class="form-group">
  <label for="description"><%= story.humanAttributeName('description') %></label><br />
  <% if (isNew || story.get('editingDescription')) { %>
    <textarea name="description" class="form-control story_description"><%= story.get('description') %></textarea>
  <% } else { %>
    <div class="description">
      <%- window.md.makeHtml(story.escape('description')) %>
    </div>
    <% if (!story.get('description') || 0 === story.get('description').length) { %>
      <input class="edit-description" type="button" value="<%= I18n.t('edit') %>" <%= disabled %> />
    <% } %>
  <% }%>
</div>

<% if (!isNew) { %>
  <div class="form-group">
    <label for="tasks"><%= I18n.t('tasks') %></label>
    <div class="tasklist"></div>
  </div>
<% } %>

<div class="form-group uploads">
  <label for="attachments"><%= I18n.t('story.attachments') %></label>
  <% if (!isReadonly) { %>
    <%- attachmentsField.outerHTML %>
    <div id="documents_progress_<%= randomId %>" class="attachinary_progress_bar"></div>
  <% } %>
  <div id="attachinary_container_<%= randomId %>"></div>
</div>

<% if (!isNew) { %>
  <div class="form-group">
    <label for="notes"><%= I18n.t('story.notes') %></label>
    <div class="notelist"></div>
  </div>
<% } %>
